
* {
    box-sizing: border-box;
    margin: 0px;
}


.header {
    background-color: darkcyan;
    padding: 15px;
    text-align: center;
    margin-bottom: 7px;

}

/* header element styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

.row {
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
}

.column {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
  border: 2px black;
}

.link {

}

.description {

}

.drawing {

}

.footer {
    background-color: darkcyan;
    padding: 15px;
    text-align: center;
    margin-top: 7px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}




@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .column {
      width:100%;
    }
  }








/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }